@import url(http://fonts.googleapis.com/css?family=Montserrat)
@import url(http://fonts.googleapis.com/css?family=Roboto:100);
$font-size-base ?= 18px
$font-family-monospace ?= "Courier New", monospace;
@import 'bootstrap/_bootstrap'

.hidden
  display: none

header
  h1
    color: white
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif

.text-center
  text-align: center

#signinButton
  margin-top: 100px
  margin: 0 auto
  display: block
  width: 112px

.panel, .panel-default > .panel-heading
  background: rgba(255, 255, 255, 0.5)
  border: none
  > .lead
    margin-bottom: 0px;

pre.lead
  font-size: 30px

.dashboard-menu
  .btn
    width: 25%

.maintenance
  .lead, h1
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif
    margin: 0px
  
  .consumer
    &:first-child
      h1
        color: $brand-success
    &:last-child
      h1
        color: $brand-danger
  
  h1
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight: 100
    font-size: 60px
