.btn-group.btn-block.dashboard-menu
  a.btn.btn-lg.btn-primary.col-xs-3(href="#/dashboard"): span.glyphicon.glyphicon-user
  a.btn.btn-lg.btn-danger.col-xs-3(href="#/dashboard/media"): span.glyphicon.glyphicon-music
  a.btn.btn-lg.btn-warning.col-xs-3(href="#/dashboard/maintenance"): span.glyphicon.glyphicon-home
  a.btn.btn-lg.btn-success.col-xs-3(href="#/dashboard/charts"): span.glyphicon.glyphicon-tasks