.btn-group.btn-block.dashboard-menu
  a.btn.btn-lg.btn-primary: span.glyphicon.glyphicon-user
  a.btn.btn-lg.btn-danger(href="#/dashboard/media"): span.glyphicon.glyphicon-music
  a.btn.btn-lg.btn-warning(href="#/dashboard/maintenance"): span.glyphicon.glyphicon-home
  a.btn.btn-lg.btn-success(href="#/dashboard/charts"): span.glyphicon.glyphicon-tasks