.row
  .col-lg-6.col-lg-offset-3.col-xs-12
    include _dashboard_menu
    .panel.panel-default
      .panel-body.charts
        canvas#chart-1.chart(width="500px", height="200px")
        canvas#chart-2.chart(width="500px", height="200px")