.row(ng-init="getDomusCode()")
  .col-lg-6.col-lg-offset-3.col-xs-12

    //- span#signinButton
    //-   span.g-signin(data-callback="signinCallback", data-clientid="474025689470-7rvnqmptj73i9gu1k3codb9chshuft1r.apps.googleusercontent.com", data-cookiepolicy="single_host_origin", data-requestvisibleactions="http://schemas.google.com/AddActivity", data-scope="https://www.googleapis.com/auth/plus.login")
    //-   
    
    .panel.panel-default
      .panel-heading.text-center
        .lead No homes yet :c
      .panel-body
        p No RaspberryPi is connected to your account yet. Please add one using the following code:
        pre.lead.text-center {{code}}
        
        button.btn.btn-lg.btn-success.btn-block(ng-click="checkDomusCode()") Done!