.row
  .col-lg-6.col-lg-offset-3.col-xs-12
    include _dashboard_menu
    .panel.panel-default.videos
      .panel-body
        .input-group.input-group-lg
          input.form-control(type="text", placeholder="Search YouTube", ng-model="query")
          span.input-group-btn
            button.btn.btn-default(type="button", ng-click="search()")
              span.glyphicon.glyphicon-search
      .row
        .col-xs-12(ng-repeat="video in videos")
          .media.parallax(style="background-image: url('http://i1.ytimg.com/vi/{{video.url}}/mqdefault.jpg')", ng-click="sendYoutube(video.url)")
            .lead {{video.title}}