.row
  .col-lg-6.col-lg-offset-3.col-xs-12.profile
    include _dashboard_menu
    .panel.panel-default
      .panel-body.profile
        img.col-xs-12.img-circle(src="https://plus.google.com/s2/photos/profile/{{client_id}}")
        .col-xs-12.lead.text-center {{display_name}}