%link{:rel=>'stylesheet',:href=>'assets/css/accessibility_foundicons.css'}
.row#login-section
  .small-5.small-centered.columns.panel
    %h3 Autentificare
    %form{'data-abide' => ''}
      .name-field
        %label
          CUI
          %small necesar
        %input{pattern: '[a-zA-Z]+', required: '', type: 'text'}
        %small.error CUI-ul de 16 cifre este necesar.
      .password-field
        %label
          Parola
          %small necesar
        %input{required: '', type: 'password'}
        %small.error Parola este necesara
        %label{for:'rememberMe'}
          %input{type:'checkbox', id:'rememberMe'}
          %span.custom.checkbox Salveaza datele autentificarii
          %a.right.foundicon-question{href:'#/recover'}
      %button.small-12{type: 'submit'} Continua
      %label.small-centered
        Nu aveti cont?
        %a{href:'#/register'} Inregistrati un utilizator nou
%script{src:'assets/js/foundation/foundation.abide.js'}
