.row#login-section
  .small-5.small-centered.columns.panel
    %h3 Recuperare parola
    %form{'data-abide' => ''}
      .email-field
        %label
          Email
          %small necesar
        %input{required: '', type: 'email'}
        %small.error Emailul este necesar
      %button.small-12{type: 'submit'} Continua
%script{src:'assets/js/foundation/foundation.abide.js'}
