%script{src:'assets/js/foundation/foundation.abide.js'}
.row#register-section
  .small-5.small-centered.columns.panel
    %h3 Utilizator nou:
    %form{'data-abide' => ''}
      .email-field
        %label
          Email
          %small necesar
        %input{required: '', type: 'email'}
        %small.error Emailul este necesar.
      .number-field
        %label
          CUI
          %small necesar
        %input{required: '', type: 'text'}
        %small.error CUI-ul este necesar
      .password-field
        %label
          Parola
          %small necesar
        %input#pw1{required: '', type: 'password'}
        %small.error O parola puternica este necesara
      .password-field
        %label
          Confirma Parola
          %small necesar
        %input{required: '', type: 'password' , "data-equalto"=> 'pw1'}
        %small.error Parolele nu coincid

        %label
          %input{required:'',type:'checkbox'}
          %span.custom.checkbox Sunt de acord cu
          %a{href:'#'}Termeni si conditii
        %label
          %input{required:'',type:'checkbox', id:'rememberMe'}
          %span.custom.checkbox Sunt de acord cu
          %a{href:'#'} Politica de Confidentialitate
      %button.small-12{type: 'submit'} Inregistreaza
      %button.secondary.small-12{type: 'reset'} Reseteaza
