
<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-xs-12">
    <div class="btn-group btn-block dashboard-menu"><a href="#/dashboard" class="btn btn-lg btn-primary col-xs-3"><span class="glyphicon glyphicon-user"></span></a><a href="#/dashboard/media" class="btn btn-lg btn-danger col-xs-3"><span class="glyphicon glyphicon-music"></span></a><a href="#/dashboard/maintenance" class="btn btn-lg btn-warning col-xs-3"><span class="glyphicon glyphicon-home"></span></a><a href="#/dashboard/charts" class="btn btn-lg btn-success col-xs-3"><span class="glyphicon glyphicon-tasks"></span></a></div>
    <div class="panel panel-default videos">
      <div class="panel-body">
        <div class="input-group input-group-lg">
          <input type="text" placeholder="Search YouTube" ng-model="query" class="form-control"/><span class="input-group-btn">
            <button type="button" ng-click="search()" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
        </div>
      </div>
      <div class="row">
        <div ng-repeat="video in videos" class="col-xs-12">
          <div style="background-image: url('http://i1.ytimg.com/vi/{{video.url}}/mqdefault.jpg')" ng-click="sendYoutube(video.url)" class="media parallax">
            <div class="lead">{{video.title}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>