!!!
%html
  %head
    %title Zenware-DNA
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
    %link{:rel=>'stylesheet',:href=>'assets/css/foundation.min.css'}
  %body{'ng-cloak' => ''}
    %div{'ng-view'=>''}
      %script{'data-main' => 'core/config.js', :src => 'core/lib/require/require.js', :type => 'text/javascript'}
  %script
